@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --red: #e71a23;
    --red-hover: #c4161f;
}

.heading {
    font-family: 'Archivo Black', sans-serif;
}

html {
    font-size: 62.5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .logo {
    cursor: pointer;
    margin-left: 1.5rem;
}

.nav {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}

nav ul {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.926);
    flex-direction: column;
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200%;
    width: 400px;
    transition: all .4s ease;
    z-index: 100;
}

nav.active ul {
    left: 0;
}

nav ul li {
    margin: 1.5rem 1.5rem;
}

nav ul li a {
    font-size: 1.8rem;
    color: #fff;
    padding: 1.5rem 1.6rem;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
}

.close-bar {
    position: absolute;
    width: 31px;
    height: 2px;
    background-color: #fff;
}

.close-bar:first-child {
    transform: rotate(135deg);
}

.close-bar:last-child {
    transform: rotate(-135deg);
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
}

.hambar {
    width: 31px;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: all .3s ease;
}

.hamburger:hover .hambar {
    background-color: var(--red);
}

.hambar:nth-child(1) {
    top: 18px;
}

.hambar:nth-child(3) {
    bottom: 18px;
}

/* Hero */
#hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 76vh;
    padding-bottom: 6rem;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/a6f4fa926896598d9b5a2e42/dmin.jpg);
    background-position: top center;
    background-size: cover;
}

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    color: #fff;
    width: 600px;
    transform: translateX(-240px);
}

.hero-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
    width: 100%;
}

.hero hr {
    width: 100%;
    height: 10px;
    background-color: #fff;
    outline: none;
    border: none;
    margin: 1.5rem 0;
}

.hero h2 {
    font-size: 6rem;
    font-weight: 300;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 1.5rem;
}

.hero-box p {
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin-top: 1.8rem;
}

.hero-box i {
    font-size: 8rem;
}

.hero h1 {
    font-size: 9rem;
}

/* Services */
#services {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 0;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 830px;
    padding: 0 2.5rem;
}

.services h2 {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(157, 157, 157);
}

.services h1 {
    font-size: 5rem;
    margin: 2rem 0;
}

.services p {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;
}

.services a {
    margin-top: 3rem;
}

.btn {
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: .3rem;
    color: #fff;
    background-color: var(--red);
    transition: all .3s ease;
    padding: 1.6rem 3rem;
}

.btn:hover {
    background-color: var(--red-hover);
}

/* Need */
#need {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}

.need-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 2rem;
}

.need-box-desc p {
    font-size: 1.7rem;
    line-height: 2.5rem;
}

.need-box-img {
    width: 100%;
}

.need-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.need-box-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 3.5rem 5rem;
}

.need-box:last-child {
    flex-direction: column-reverse;
}

.need-box:last-child .need-box-desc {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3.5rem 0;
}

.need-box:last-child .need-box-desc h1 {
    font-size: 3.5rem;
}

.need-box:last-child .need-box-desc h2 {
    font-size: 3.1rem;
    margin-top: 2rem;
    color: var(--red);
}

.need-box:last-child {
    align-items: flex-start;
    justify-content: flex-start;
}

/* Quality */
#quality {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9f710de59576552888227ee6/g.jpg);
    background-position: center;
    background-size: cover;
}

.quality-img {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/e08438069f545e2abce59599/billionphotos1079319min.png);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 500px;
}

.quality-desc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 500px;
    margin: 0 2.5rem;
}

.quality-desc h1 {
    font-size: 7rem;
    color: #104e92;
}

.quality-desc hr {
    width: 100%;
    height: 1rem;
    background-color: var(--red);
    outline: none;
    border: none;
    margin: 2rem 0;
}

.quality-desc p {
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: 400;
}

.quality-desc a {
    margin-top: 2rem;
}

/* Services */
#ourservices {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}

.ourservices-header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1150px;
    padding-bottom: 2rem;
}

.ourservices-header h1 {
    font-size: 5rem;
}

.ourservices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourservices-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    width: 330px;
    margin: 2rem 2.5rem;
}

.ourservices-box i {
    font-size: 3rem;
    padding: 2.5rem;
    background-color: var(--red);
    color: #fff;
    border-radius: 50%;
}

.ourservices-box h1 {
    font-size: 2.5rem;
    margin: 2rem 0;
}

.ourservices-box p {
    font-size: 1.9rem;
    line-height: 3rem;
    font-style: italic;
}
/* About */
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    background-color:#104e92 ;
}
.about-left{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    color: #fff;
}
.about-left h2{
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 300;
}
.about-left h1{
    font-size: 10rem;
    font-weight: 400;
}
.about-left h1 span{
    font-weight: 700;
}
.about-grid{
    display: grid;
    width: 450px;
    height: 450px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem;
    grid-template-areas: 
    "grid-1 grid-2"
    "grid-3 grid-4"
    ;
}
.a-grid-1{
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/840fd2ae5ad55d90a5b3a2b1/frg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: grid-1;
}
.a-grid-2{
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/c49f32b104715678b098f419/rg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: grid-2;
}
.a-grid-3{
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/10368f8113805d1ba66c15ce/billionphotos1882993.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: grid-3;
}
.a-grid-4{
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/b8f1c321416d508b85584894/billionphotos1882951.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: grid-4;
}

@media screen and (max-width:1300px) {
    .nav {
        width: 95%;
    }
}

@media screen and (max-width:1250px) {
    .ourservices-box {
        width: 275px;
    }
    .ourservices-header {
        width: 974px;
    }
}
@media screen and (max-width:1170px) {
    .hero h2 {
        font-size: 4rem;
    }

    .hero h1 {
        font-size: 8rem;
    }

    .hero-box i {
        font-size: 7rem;
    }

    .hero {
        width: 500px;
    }

    .hero {
        transform: translateX(-165px);
    }

    .need-box {
        width: 390px;
    }
}

@media screen and (max-width:1050px) {
    .ourservices-box {
        width: 27%;
    }
    .ourservices-header {
        width: 90%;
    }
    .about-grid {
        display: grid;
        width: 372px;
        height: 372px;
    }
    .about-left h1 {
        font-size: 8rem;
        
    }
    .about-left{
        width: 380px;
    }
}

@media screen and (max-width:000) {}

@media screen and (max-width:860px) {
    .hero {
        transform: translateX(-50px);
    }

    .services {
        width: 600px;
    }

    #need {
        flex-direction: column;
    }

    .need-box {
        width: 490px;
    }
    .ourservices-header{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .ourservices{
        flex-wrap: wrap;
        padding-top: 4rem;
    }
    .ourservices-box {
        width: 400px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:820px) {
    #quality {
        flex-direction: column-reverse;
        height: 100vh;
    }

    .quality-desc {
        margin: 2.5rem 2rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .quality-img {
        height: 577px;
        width: 400px;
    }
    #about{
        flex-direction: column;
    }
    .about-left{
        align-items: center;
        justify-content: center;
        text-align: center;
        width:  300px;
    }
    .about-grid {
        width: 515px;
        height: 515px;
        margin-top: 5rem;
    }
}

@media screen and (max-width:000) {}

@media screen and (max-width:000) {}

@media screen and (max-width:650px) {
    .hero-flex {
        display: none;
    }

    #hero {
        background-position: right center;
        align-items: flex-end;
        justify-content: center;
    }

    .hero {
        transform: translateX(0);
        width: auto;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .hero h1 {
        font-size: 6rem;
    }

    #hero {
        background-position: -367px 0;
    }

    .services {
        width: 95%;
    }

    .services h1 {
        font-size: 4rem;
    }

    .quality-desc {
        width: 80%;
    }

    .quality-desc h1 {
        font-size: 4rem;
    }

    .quality-desc hr {
        width: 70%;
    }
}


@media screen and (max-width:550px) {
    nav ul {
        width: 80vw;
    }

    .need-box {
        width: 370px;
    }

    .need-box:last-child .need-box-desc h1 {
        font-size: 3rem;
    }

    .need-box:last-child .need-box-desc h2 {
        font-size: 2.6rem;
    }
    .about-grid {
        width: 396px;
        height: 356px;
    }
    .about-left h1 {
        font-size: 5rem;
        margin-top: 2rem;
    }
}
@media screen and (max-width:500px) {
    .ourservices-box {
        width: 80%;
    }
    .about-grid{
        width: 80%;
        height: 115rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "grid-1"
            "grid-2"
            "grid-3"
            "grid-4"
        ;
    }
}
@media screen and (max-width:450px) {
    #hero {
        background-position: -446px 0;
    }

    .services {
        padding: 0 1.5rem;
    }

    .services h1 {
        font-size: 3rem;
    }

    .quality-img {
        height: 577px;
        width: 90%;
    }

    .quality-desc {
        margin: 2.5rem 0rem;
    }

    #quality {
        height: 115vh;
    }
}

@media screen and (max-width:400px) {
    .need-box-desc {
        padding: 3.5rem 2rem;
    }

    .need-box:last-child .need-box-desc {
        padding: 3.5rem 1.5rem;
    }

    .need-box:last-child .need-box-desc h1 {
        font-size: 2.5rem;
    }

    .need-box:last-child .need-box-desc h2 {
        font-size: 2rem;
    }

    .need-box {
        width: 90%;
    }

    .quality-desc p {
        font-size: 1.9rem;
        line-height: 2.7rem;
    }
    .about-grid {
        height: 85rem;
    }
}

@media screen and (max-width:350px) {
    .hero h1 {
        font-size: 4rem;
    }

    .hero h2 {
        font-size: 3rem;
    }

    #hero {
        background-position: right right;
    }
    .about-left {
        width: 90%;
    }
}