@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --red : #e71a23 ;
    --red-hover : #c4161f ;
}
.heading{
    font-family: 'Archivo Black', sans-serif;
}
html{
    font-size: 62.5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .logo {
    cursor: pointer;
    margin-left: 1.5rem;
}
.nav{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
}
nav ul{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.926);
    flex-direction: column;
    list-style: none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -200%;
    width: 400px;
    transition: all .4s ease;
    z-index: 100;
}
nav.active ul{
    left: 0;
}
nav ul li{
    margin: 1.5rem 1.5rem;
}
nav ul li a{
    font-size: 1.8rem;
    color: #fff;
    padding: 1.5rem 1.6rem;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
}
.close-bar{
    position: absolute;
    width: 31px;
    height: 2px;
    background-color: #fff;
}
.close-bar:first-child{
    transform: rotate(135deg);
}
.close-bar:last-child{
    transform: rotate(-135deg);
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 6rem ;
    width: 6rem;
    cursor: pointer;
}
.hambar{
    width: 31px;
    height: 4px ;
    background-color: #000;
    position: absolute;
    transition: all .3s ease;
}
.hamburger:hover .hambar{
    background-color: var(--red);
}
.hambar:nth-child(1){
    top: 18px;
}
.hambar:nth-child(3){
    bottom: 18px;
}
/* Hero */
#hero{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 76vh;
    padding-bottom: 6rem;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/a6f4fa926896598d9b5a2e42/dmin.jpg);
    background-position: top center;
    background-size: cover;
}
.hero{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    color: #fff;
    width: 600px;
    transform: translateX(-240px);
}
.hero-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0;
    width: 100%;
}
.hero hr{
    width: 100%;
    height: 10px;
    background-color: #fff;
    outline: none;
    border: none;
    margin: 1.5rem 0;
}
.hero h2{
    font-size: 6rem;
    font-weight: 300;
}
.hero-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 1.5rem;
}
.hero-box p{
    font-size: 1.7rem;
    letter-spacing: 2px;
    margin-top: 1.8rem;
}
.hero-box i{
    font-size: 8rem;
}
.hero h1{
    font-size: 9rem;
}
/* Services */
#services{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 0;
}
.services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 830px;
    padding: 0 2.5rem;
}
.services h2{
    font-size: 2rem ;
    font-weight: 400;
    color: rgb(157, 157, 157);
}
.services h1{
    font-size: 5rem ;
    margin: 2rem 0;
}
.services p{
    font-size: 2rem ;
    line-height: 3rem ;
    font-weight: 300;
}
.services a{
    margin-top: 3rem;
}
.btn{
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: .3rem;
    color: #fff;
    background-color: var(--red);
    transition: all .3s ease;
    padding: 1.6rem 3rem;
}
.btn:hover{
    background-color: var(--red-hover);
}
/* Need */
#need{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}
.need-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 2rem;
}
.need-box-desc p{
    font-size: 1.7rem;
    line-height: 2.5rem;
}
.need-box-img {
    width: 100%;
}
.need-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.need-box-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 3.5rem 5rem;
}
.need-box:last-child {
    flex-direction:column-reverse ;
}
.need-box:last-child .need-box-desc{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding:    3.5rem 0;
}
.need-box:last-child .need-box-desc h1{
    font-size: 3.5rem;
}
.need-box:last-child .need-box-desc h2{
    font-size: 3.1rem;
    margin-top: 2rem;
    color: var(--red);
}
.need-box:last-child {
    align-items: flex-start;
    justify-content: flex-start;
}
@media screen and (max-width:1300px) {
    .nav {
        width: 95%;
    }
}
@media screen and (max-width:1170px) {
    .hero h2 {
        font-size: 4rem;
    }
    .hero h1 {
        font-size: 8rem;
    }
    .hero-box i {
        font-size: 7rem;
    }
    .hero {
        width: 500px;
    }
    .hero {
        transform: translateX(-165px);
    }
    .need-box {
        width: 390px;
    }
}
@media screen and (max-width:000) {
    
}
@media screen and (max-width:000) {
    
}
@media screen and (max-width:860px) {
    .hero {
        transform: translateX(-50px);
    }
    .services {
        width: 600px;
    }
    #need{
        flex-direction: column;
    }
    .need-box {
        width: 490px;
    }
}
@media screen and (max-width:000) {
    
}
@media screen and (max-width:000) {
    
}
@media screen and (max-width:000) {
    
}
@media screen and (max-width:650px) {
    .hero-flex {
        display: none;
    }
    #hero {
        background-position: right center;
        align-items: flex-end;
        justify-content: center;
    }
    .hero {
        transform: translateX(0);
        width: auto;
    }
    .hero h2 {
        font-size: 3rem;
    }
    .hero h1 {
        font-size: 6rem;
    }
    #hero {
        background-position: -367px 0;
    }
    .services {
        width: 95%;
    }
    .services h1 {
        font-size: 4rem;
    }
}
@media screen and (max-width:550px) {
    nav ul{
        width: 80vw;
    }
    .need-box {
        width: 370px;
    }
    .need-box:last-child .need-box-desc h1 {
        font-size: 3rem;
    }
    .need-box:last-child .need-box-desc h2 {
        font-size: 2.6rem;
    }
}
@media screen and (max-width:450px) {
    #hero {
        background-position: -446px 0;
    }
    .services {
        padding: 0 1.5rem;
    }
    .services h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width:400px) {
    .need-box-desc {
        padding: 3.5rem 2rem;
    }
    .need-box:last-child .need-box-desc {
        padding: 3.5rem 1.5rem;
    }
    .need-box:last-child .need-box-desc h1 {
        font-size: 2.5rem;
    }
    .need-box:last-child .need-box-desc h2 {
        font-size: 2rem;
    }
    .need-box {
        width: 90%;
    }
}
@media screen and (max-width:350px) {
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 3rem;
    }
    #hero {
    background-position: right right ;
}
}

